*{
	font-family: 'teko';
	font-weight: 150;
	font-size: 20px;
	color: #1DD6FF;
	background-color: #000824;
}

header{
	padding: 25px;
	padding-top: 125px;
}

h1{
	margin: auto;
	padding: 25px;
	font-size: 75px;
	text-align: center;
	color: #fff;
	background-color: #555;
	border: 7px solid #4B24D8;
}

.navegation{
	background-color: none;
	text-align: center;
	height: 300px;
}



li{
	display: flex inline;
	width: 200px;
	text-align: center;
	color: white;
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	background-color: #2368B7;
	border-radius: 45px;
}

li:hover {
	background-color: #4B24D8;
}

.information p{
	text-align: center;
	margin-top: 1px;
	font-size: 15px;
}

.description p{
	text-align: center;
}

p{
	margin: 25px;
	font-family: 'Asap', sans-serif;
	color: white;
}

b{
	font-family: 'Asap', sans-serif;
	color: #1DD6FF;
}

a:hover{
	color: #1DD6FF;
}


.logoDiscord{
	display: flex inline;
	padding-top: 17px;
	margin-left: 25px;
	width: 50px; height: 50px;
}

.subtitle{
	font-size: 75px;
	background-color: #555;
	color: white;
	text-align: center;
}

.projects{
	padding: 25px;
	height: 350px;
}


.projectsDescription{
	background-color: #1DD6FF;
	padding: 5px;
	border: 15px solid #4B24D8;
	border-radius: 45px;
	text-align: center;
}

.projectsDescription p{
	background-color: #1DD6FF;
	text-align: center;
	color: #000;
	padding: 5px;
	margin: 12px;
}

.projectsDescription li:hover{
	background-color: #000;
}

.option{
	display: flex inline;
	width: 200px;
	text-align: center;
	color: white;
	display: inline-block;
	padding: 0px 25px;
	margin: 2px;
	background-color: #2368B7;
	border-radius: 45px;
}

h4{
	text-align: center;
	height: 0;
	color: #000;
	font-size: 20px;
}

h3{
	width: 50%;
	margin: 0 25%;
	text-align: center;
	color: #000;
	font-size: 50px;
	background-color: #1DD6FF;
}

.footer{
	background-color: none;
	text-align: center;
	height: 300px;
	margin-top: 110px;
}

img{
	width: 50px; 
	height: 50px;
}

.social{
	display: flex inline;
	text-align: center;
	color: white;
	display: inline-block;
	padding: 0px 0px;
	margin: 0px;
	border-radius: 45px;
}

a{
	color: white;
	width: 150px;
}

